html,
body,
#root,
.App {
    margin: 0;
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.chart-container {
    flex: 1;
}

.overlay {
    z-index: 100;
    position: relative;
    left: 0%;
    width: 100%;
}

.time-overlay {
    margin-top: 20px;
    position: absolute;
    right: 5%;
    top: 10%;
}

.time-overlay Button {
    background-color: #254070;
    margin-right: 5px;
}

.time-overlay Button:hover {
    background-color: #2b4d8a;
}

.time-overlay Button:disabled {
    background-color: #355b9c;
    color: white;
}

.input-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
}
.MuiAutocomplete-root {
    margin-top: 10px;
    margin-left: 10px;
    background-color: #355b9c;
    border-radius: 15px;
}
.MuiInputBase-input{
    color: white !important;
}